@import '@/styles/mixins';

.header {
    @apply fixed left-0 right-0 top-0 z-[1000] text-base;
    backdrop-filter: blur(10px); /* ефект блюру */
    z-index: 1000; /* щоб хедер був поверх іншого контенту */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & div {
        @apply flex items-center justify-between;

        .boxLangAndBurger {
            @apply flex justify-end gap-5;
        }
    }
}

.img {
    @apply h-14 w-14;

    @include media-rules(notebook) {
        @apply h-32 w-32;
    }
}

.boxLangAndBurger {
    @apply flex gap-3;
}
