@import '/styles/mixins';

.hero {
    @apply py-16 bg-cover bg-no-repeat bg-center bg-[url('/images/blot4x.png')];

    @include media-rules(mobile) {
        @apply bg-top bg-contain;
    }

    &_container {
        @apply flex flex-col gap-5;

        @include media-rules(desktop) {
            @apply items-start flex-row justify-between;
        }
    }

    &_text {
        @apply flex flex-col text-left max-w-prose text-base font-light text-primary font-riviera leading-relaxed gap-5;

        @include media-rules(mobile) {
            @apply max-w-[335px];
        }

        @include media-rules(desktop) {
            @apply gap-24;

            p:first-of-type {
                @apply order-1 text-[20px] text-justify max-w-[326px];
            }

            h1 {
                @apply order-2;
            }

            p:last-of-type {
                @apply order-3 text-[20px] text-justify max-w-[326px];
            }
        }
    }

    &_title {
        @apply text-primary font-riviera text-2xl font-light leading-normal tracking-wide text-center text-[42px];

        @include media-rules(mobile) {
            order: -1;
        }

        @include media-rules(desktop) {
            @apply text-left tracking-wider text-[128px] order-2;
            line-height: 1.0;
        }
    }

    &_buttonContainer {
        @apply text-center;

        @include media-rules(desktop) {
            @apply text-right mt-auto;
            
        }
    }
}