@import '/styles/mixins';

.hero {
    @apply py-16 bg-cover bg-no-repeat;

    background-image: url('/images/blot4x.png');
    background-position: center;

    @include media-rules(mobile) {
        background-size: contain;
        background-position: top;
    }

    &_container {
        @apply flex flex-col items-center gap-5;

        @include media-rules(desktop) {
            @apply items-start;
        }
    }

    &_text {
        @apply flex flex-col text-left max-w-prose text-base font-light text-primary font-riviera leading-relaxed gap-5;

        @include media-rules(mobile) {
            max-width: 335px;
        }

        @include media-rules(desktop) {
            @apply gap-10 items-start;

            p:first-of-type {
                font-size: 20px;
                @apply order-1;
            }

            h1 {
                @apply order-2;
            }

            p:last-of-type {
                font-size: 20px;
                @apply order-3;
            }
        }
    }

    &_title {
        @apply text-primary font-riviera text-2xl font-light leading-normal tracking-wide text-center;

        @include media-rules(mobile) {
            font-size: 42px;
            max-width: 335px;
            order: -1;
        }

        @include media-rules(desktop) {
            @apply flex flex-wrap justify-start text-left tracking-wider;
            font-size: 128px;
            line-height: 1.0;
            order: 2;
        }
    }

    &_buttonContainer {
        @apply text-center;
    }
}