@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Extralight.otf') format('otf');
    font-weight: 200;
}

@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Light.otf') format('otf');
    font-weight: 300;
}

@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Regular.otf') format('otf');
    font-weight: 400;
}

@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Medium.otf') format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Bold.otf') format('otf');
    font-weight: 700;
}

@font-face {
    font-family: 'AltRiviera';
    src: url('/fonts/ALTRiviera-Extrabold.otf') format('otf');
    font-weight: 800;
}
